In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
categorical_features = pd.read_csv('categorical.csv')
display(categorical_features)

numerical_features = pd.read_csv('numerical.csv')
print(numerical_features.columns.tolist())

X = pd.concat([categorical_features, numerical_features], axis = 1)


targets = pd.read_csv('target.csv')
y = targets['TARGET_B']

data = pd.concat([X, y], axis = 1)
print(data.shape)
data_no_nan = data.dropna()
print(data_no_nan.shape)


X = data_no_nan.drop('TARGET_B', axis = 1)
y = data_no_nan['TARGET_B']

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11.0
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10.0
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1.0
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2.0
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2.0
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3.0
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10.0
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12.0
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3.0

['TCODE', 'AGE', 'INCOME', 'WEALTH1', 'HIT', 'MALEMILI', 'MALEVET', 'VIETVETS', 'WWIIVETS', 'LOCALGOV', 'STATEGOV', 'FEDGOV', 'WEALTH2', 'POP901', 'POP902', 'POP903', 'POP90C1', 'POP90C2', 'POP90C3', 'POP90C4', 'POP90C5', 'ETH1', 'ETH2', 'ETH3', 'ETH4', 'ETH5', 'ETH6', 'ETH7', 'ETH8', 'ETH9', 'ETH10', 'ETH11', 'ETH12', 'ETH13', 'ETH14', 'ETH15', 'ETH16', 'AGE901', 'AGE902', 'AGE903', 'AGE904', 'AGE905', 'AGE906', 'AGE907', 'CHIL1', 'CHIL2', 'CHIL3', 'AGEC1', 'AGEC2', 'AGEC3', 'AGEC4', 'AGEC5', 'AGEC6', 'AGEC7', 'CHILC1', 'CHILC2', 'CHILC3', 'CHILC4', 'CHILC5', 'HHAGE1', 'HHAGE2', 'HHAGE3', 'HHN1', 'HHN2', 'HHN3', 'HHN4', 'HHN5', 'HHN6', 'MARR1', 'MARR2', 'MARR3', 'MARR4', 'HHP1', 'HHP2', 'DW1', 'DW2', 'DW3', 'DW4', 'DW5', 'DW6', 'DW7', 'DW8', 'DW9', 'HV1', 'HV2', 'HV3', 'HV4', 'HU1', 'HU2', 'HU3', 'HU4', 'HU5', 'HHD1', 'HHD2', 'HHD3', 'HHD4', 'HHD5', 'HHD6', 'HHD7', 'HHD8', 'HHD9', 'HHD10', 'HHD11', 'HHD12', 'ETHC1', 'ETHC2', 'ETHC3', 'ETHC4', 'ETHC5', 'ETHC6', 'HVP1', 'HVP2', 'HVP3', 'HVP4', 'HVP5', 'HVP6', 'HUR1', 'HUR2', 'RHP1', 'RHP2', 'RHP3', 'RHP4', 'HUPA1', 'HUPA2', 'HUPA3', 'HUPA4', 'HUPA5', 'HUPA6', 'HUPA7', 'RP1', 'RP2', 'RP3', 'RP4', 'MSA', 'ADI', 'DMA', 'IC1', 'IC2', 'IC3', 'IC4', 'IC5', 'IC6', 'IC7', 'IC8', 'IC9', 'IC10', 'IC11', 'IC12', 'IC13', 'IC14', 'IC15', 'IC16', 'IC17', 'IC18', 'IC19', 'IC20', 'IC21', 'IC22', 'IC23', 'HHAS1', 'HHAS2', 'HHAS3', 'HHAS4', 'MC1', 'MC2', 'MC3', 'TPE1', 'TPE2', 'TPE3', 'TPE4', 'TPE5', 'TPE6', 'TPE7', 'TPE8', 'TPE9', 'PEC1', 'PEC2', 'TPE10', 'TPE11', 'TPE12', 'TPE13', 'LFC1', 'LFC2', 'LFC3', 'LFC4', 'LFC5', 'LFC6', 'LFC7', 'LFC8', 'LFC9', 'LFC10', 'OCC1', 'OCC2', 'OCC3', 'OCC4', 'OCC5', 'OCC6', 'OCC7', 'OCC8', 'OCC9', 'OCC10', 'OCC11', 'OCC12', 'OCC13', 'EIC1', 'EIC2', 'EIC3', 'EIC4', 'EIC5', 'EIC6', 'EIC7', 'EIC8', 'EIC9', 'EIC10', 'EIC11', 'EIC12', 'EIC13', 'EIC14', 'EIC15', 'EIC16', 'OEDC1', 'OEDC2', 'OEDC3', 'OEDC4', 'OEDC5', 'OEDC6', 'OEDC7', 'EC1', 'EC2', 'EC3', 'EC4', 'EC5', 'EC6', 'EC7', 'EC8', 'SEC1', 'SEC2', 'SEC3', 'SEC4', 'SEC5', 'AFC1', 'AFC2', 'AFC3', 'AFC4', 'AFC5', 'AFC6', 'VC1', 'VC2', 'VC3', 'VC4', 'ANC1', 'ANC2', 'ANC3', 'ANC4', 'ANC5', 'ANC6', 'ANC7', 'ANC8', 'ANC9', 'ANC10', 'ANC11', 'ANC12', 'ANC13', 'ANC14', 'ANC15', 'POBC1', 'POBC2', 'LSC1', 'LSC2', 'LSC3', 'LSC4', 'VOC1', 'VOC2', 'VOC3', 'HC1', 'HC2', 'HC3', 'HC4', 'HC5', 'HC6', 'HC7', 'HC8', 'HC9', 'HC10', 'HC11', 'HC12', 'HC13', 'HC14', 'HC15', 'HC16', 'HC17', 'HC18', 'HC19', 'HC20', 'HC21', 'MHUC1', 'MHUC2', 'AC1', 'AC2', 'CARDPROM', 'NUMPROM', 'CARDPM12', 'NUMPRM12', 'RAMNTALL', 'NGIFTALL', 'CARDGIFT', 'MINRAMNT', 'MAXRAMNT', 'LASTGIFT', 'TIMELAG', 'AVGGIFT', 'CONTROLN', 'HPHONE_D', 'RFA_2F', 'CLUSTER2']
(95412, 338)
(95410, 338)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1337)

In [9]:
X_train_numerical = X_train.select_dtypes(np.number)
X_test_numerical = X_test.select_dtypes(np.number)

X_train_categorical = X_train.select_dtypes(object)
X_test_categorical = X_test.select_dtypes(object)

display(X_test_numerical)

,CLUSTER,DATASRCE,DOMAIN_B,ODATEW_YR,ODATEW_MM,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
57297,18,3,2,90,1,38,7,91,12,96,...,2,25.0,35.0,35.0,14,28.750000,119637,0,1,35
7423,10,3,4,91,1,24,9,91,9,95,...,4,3.0,20.0,20.0,5,10.000000,66548,1,1,45
90270,2,1,1,93,1,14,12,93,1,95,...,3,3.0,18.0,18.0,11,12.333333,190984,0,2,7
48463,7,3,2,96,1,14,1,96,3,96,...,2,10.0,18.0,10.0,2,14.000000,94900,1,2,29
41234,5,3,2,93,1,15,1,93,8,93,...,4,10.0,25.0,24.0,1,20.571429,144384,1,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95362,5,3,2,94,1,58,8,93,9,95,...,1,10.0,25.0,25.0,7,18.750000,68418,1,1,28
87187,11,3,1,91,1,0,2,92,7,93,...,12,1.0,12.0,5.0,9,4.937500,168360,0,4,27
22837,49,3,2,94,1,0,2,94,1,96,...,2,3.0,10.0,5.0,15,5.750000,87604,1,3,57
49421,44,3,2,96,1,50,1,96,2,96,...,1,30.0,30.0,30.0,9,30.000000,180788,1,1,17
46541,12,3,1,93,1,54,1,93,2,96,...,0,5.0,25.0,25.0,13,15.000000,47450,1,1,20

In [10]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler().fit(X_train_numerical)

X_train_numerical_scaled = scaler.transform(X_train_numerical)
X_train_numerical_scaled_df = pd.DataFrame(X_train_numerical_scaled, columns=scaler.get_feature_names_out(X_train_numerical.columns))

X_test_numerical_scaled = scaler.transform(X_test_numerical)
X_test_numerical_scaled_df = pd.DataFrame(X_test_numerical_scaled, columns=scaler.get_feature_names_out(X_test_numerical.columns))

In [11]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first')
encoder.fit(X_train_categorical)

X_train_categorical_encoded = encoder.transform(X_train_categorical)
X_train_categorical_encoded_df = pd.DataFrame(X_train_categorical_encoded.toarray(), columns=encoder.get_feature_names_out(X_train_categorical.columns))

X_test_categorical_encoded = encoder.transform(X_test_categorical)
X_test_categorical_encoded_df = pd.DataFrame(X_test_categorical_encoded.toarray(), columns=encoder.get_feature_names_out(X_test_categorical.columns))

In [12]:
X_train_categorical_encoded

<76328x24 sparse matrix of type '<class 'numpy.float64'>'
	with 291620 stored elements in Compressed Sparse Row format>

In [13]:
X_train = pd.concat([X_train_categorical_encoded_df, X_train_numerical_scaled_df], axis = 1)
X_train

X_test = pd.concat([X_test_categorical_encoded_df, X_test_numerical_scaled_df], axis = 1)
X_test

,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_TX,STATE_WA,STATE_WI,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.055556,0.025,0.006006,0.035,0.155556,0.027424,0.623825,0.0,0.000000,0.557377
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.111111,0.003,0.003003,0.020,0.055556,0.008648,0.347000,1.0,0.000000,0.721311
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.083333,0.003,0.002603,0.018,0.122222,0.010985,0.995855,0.0,0.333333,0.098361
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.055556,0.010,0.002603,0.010,0.022222,0.012654,0.494838,1.0,0.333333,0.459016
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.111111,0.010,0.004004,0.024,0.011111,0.019234,0.752865,1.0,0.333333,0.131148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19077,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.027778,0.010,0.004004,0.025,0.077778,0.017410,0.356751,1.0,0.000000,0.442623
19078,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.333333,0.001,0.001401,0.005,0.100000,0.003579,0.877885,0.0,1.000000,0.426230
19079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.055556,0.003,0.001001,0.005,0.166667,0.004392,0.456794,1.0,0.666667,0.918033
19080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.027778,0.030,0.005005,0.030,0.100000,0.028675,0.942689,1.0,0.000000,0.262295
19081,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.005,0.004004,0.025,0.144444,0.013655,0.247416,1.0,0.000000,0.311475

In [14]:

y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

models = ['LogisticRegression', 'KNeighborsClassifier', 'DecisionTreeClassifier']

In [16]:
def train_test_all_models(X, X_test, y, y_test, models):
    counter = 0
    for model in models: 
        
        
        if model == 'LogisticRegression':
            current_model = LogisticRegression(max_iter = 5000) # create model 
            current_model.fit(X, y) # fit model
        else:
            current_model = eval(model + "()") # create model 
            current_model.fit(X, y) # fit model
        
        y_predicted = current_model.predict(X)
        y_test_predicted = current_model.predict(X_test)
        
        
        from sklearn.metrics import mean_squared_error as mse
        from sklearn.metrics import mean_absolute_error as mae
        
        r2 = round(current_model.score(X, y), 3)
        
        print (f'Model {models[counter]}:')
        print ('The train r2 score is: {}.'.format(r2))

        r2 = round(current_model.score(X_test, y_test), 3)

        print ('The test r2 score is: {}.'.format(r2))
        print ('\n')
        counter += 1

In [17]:
train_test_all_models(X_train, X_test, y_train, y_test, models)

Model LogisticRegression:
The train r2 score is: 0.949.
The test r2 score is: 0.948.


Model KNeighborsClassifier:
The train r2 score is: 0.95.
The test r2 score is: 0.947.


Model DecisionTreeClassifier:
The train r2 score is: 1.0.
The test r2 score is: 0.889.

In [ ]:
# Model LogisticRegression:
# The train r2 score is: 0.949.
# The test r2 score is: 0.948.


# Model KNeighborsClassifier:
# The train r2 score is: 0.95.
# The test r2 score is: 0.947.


# Model DecisionTreeClassifier:
# The train r2 score is: 1.0.
# The test r2 score is: 0.889.

In [18]:
imbalance_data = pd.concat([X_train, y_train], axis = 1)

imbalance_data['TARGET_B'].value_counts()

0    72471
1     3857
Name: TARGET_B, dtype: int64

In [19]:
from sklearn.utils import resample

category_0 = imbalance_data[imbalance_data['TARGET_B'] == 0]
category_1 = imbalance_data[imbalance_data['TARGET_B'] == 1]

category_0_undersampled = resample(category_0,
                                   replace=False,
                                   n_samples = len(category_1))

data_downsampled = pd.concat([category_0_undersampled, category_1], axis=0)

data_downsampled['TARGET_B'].value_counts()

0    3857
1    3857
Name: TARGET_B, dtype: int64

In [20]:
X_downsampled = data_downsampled.drop('TARGET_B', axis = 1)
y_downsampled = data_downsampled['TARGET_B']

In [21]:
train_test_all_models(X_downsampled, X_test, y_downsampled, y_test, models)

Model LogisticRegression:
The train r2 score is: 0.62.
The test r2 score is: 0.592.


Model KNeighborsClassifier:
The train r2 score is: 0.706.
The test r2 score is: 0.532.


Model DecisionTreeClassifier:
The train r2 score is: 1.0.
The test r2 score is: 0.514.

In [ ]:
# Model LogisticRegression:
# The train r2 score is: 0.62.
# The test r2 score is: 0.592.


# Model KNeighborsClassifier:
# The train r2 score is: 0.706.
# The test r2 score is: 0.532.


# Model DecisionTreeClassifier:
# The train r2 score is: 1.0.
# The test r2 score is: 0.514.

In [22]:
category_1_oversampled = resample(category_1,
                                  replace=True,
                                  n_samples = len(category_0))

data_upsampled = pd.concat([category_0, category_1_oversampled], axis=0)

data_upsampled['TARGET_B'].value_counts()

0    72471
1    72471
Name: TARGET_B, dtype: int64

In [23]:
X_upsampled= data_upsampled.drop('TARGET_B', axis = 1)
y_upsampled = data_upsampled['TARGET_B']

In [24]:
train_test_all_models(X_upsampled, X_test, y_upsampled, y_test, models)

Model LogisticRegression:
The train r2 score is: 0.61.
The test r2 score is: 0.619.


Model KNeighborsClassifier:
The train r2 score is: 0.953.
The test r2 score is: 0.827.


Model DecisionTreeClassifier:
The train r2 score is: 1.0.
The test r2 score is: 0.901.

In [ ]:
# Model LogisticRegression:
# The train r2 score is: 0.61.
# The test r2 score is: 0.619.


# Model KNeighborsClassifier:
# The train r2 score is: 0.953.
# The test r2 score is: 0.827.


# Model DecisionTreeClassifier:
# The train r2 score is: 1.0.
# The test r2 score is: 0.901.